.add-description-container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .add-description-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ant-form-item {
    margin-bottom: 20px;
  }
  
  .ant-upload-list-item {
    margin-top: 10px;
  }
  